<body>

    <app-spinner2 *ngIf="!artista"> </app-spinner2>


    <div class="content" *ngIf="artista">


        <div class="contentbody"> 
            
            <div class="cardContent">

                <div class="card">

                    <div class="cardImage">
                        
                        <div class="imageContent">
        
                            <img *ngIf="!imagenTemporal" [src]="album.imagenURL | noImage">
                            <img *ngIf="imagenTemporal" [src]="imagenTemporal">
    
                        </div>
    
                        <div class="buttoImage">
        
                            <button  *ngIf="banderas.agregarFoto && menuService.getRole === 'ADMINISTRADOR'" class="btn" (click)="changeIMG.click()"> {{album.imagenURL | buttonTextImg}}</button>
                            <button  *ngIf="banderas.guardarFoto && menuService.getRole === 'ADMINISTRADOR'" class="btn" (click)="guardarFoto()"> GUARDAR IMAGEN</button>
                            <button  *ngIf="banderas.cancelarFoto && menuService.getRole === 'ADMINISTRADOR'" class="btn" (click)="cancelarFotoSeleccionado()"> CANCELAR </button>
                            <button  *ngIf="album.imagenURL && !imagenTemporal && menuService.getRole === 'ADMINISTRADOR'" class="btn" (click)="eliminarFoto()"> ELIMINAR FOTO </button>
    
                            <input type="file" hidden="true" #changeIMG (change)="seleccionarImagen()">
                        </div>
    
                    </div>
    
    
                    <div class="cardBody">
    
                        <div class="texto">
    
                            <p> Nombre:  <span> {{album.nombre |titlecase}}   </span> </p>
                            <p> Descripcion : <span> {{album.descripcion |titlecase}} </span> </p>
                            <p> Fecha de Lanzamiento:  <span> {{album.fechaLanzamiento |date}} </span>  </p> 
                            <p> Artista:  <span class="click" (click)="verArtista(artista.id)"> {{artista.nombre |titlecase}}</span>  </p> 
                            <!-- Lo sigueinte solo lo puede ver un administrador -->
                            <p *ngIf="menuService.getRole == 'ADMINISTRADOR'" > Bloqueado <span> {{album.bloqueado}} </span> </p>

    
                        </div>
    
    
                        <div class="buttons">
        
                            <button *ngIf="menuService.getRole == 'ADMINISTRADOR'" class="btn" (click)="mostrarFormularioActualizarData()"> MODIFICAR </button>
    
    
                        </div>
    
                    </div>
    
                </div>

            </div>


            <div class="listaCanciones">

                <div class="listaCancionesTitulo">

                    <h2 *ngIf="arrayCanciones"> CANCIONES DEL ALBUM </h2>
                    <h2 *ngIf="!arrayCanciones"> ¡ ESTE ALBUM NO TIENE CANCIONES !</h2>

                </div>

                <div *ngIf="arrayCanciones.leght !== 0" class="listaCancionesCuerpo">
                    
                    <div class="line" *ngFor="let cancion of arrayCanciones">

                        <hr class="style6">
    
                        <div class="info">
                            <i class="fas fa-compact-disc"></i>

                            <p (click)="albumAReproducir(cancion._id)">
                                {{cancion.nombre |uppercase}}
                            </p>
    
                            <i class="icon fas fa-ellipsis-v">
                                <!-- En el siguiente ira la condicion de si es un administrador -->
                                <ul class="ul" *ngIf="menuService.getRole == 'ADMINISTRADOR'">
                                    <li class="li" (click)="albumAReproducir(cancion._id)"> Reproducir Canción</li>
                                    <li class="li" (click)="verMasDelCancion(cancion._id)" > Ver Más</li>
                                    <li class="li" (click)="eliminarCancion(cancion._id)"> Eliminar</li>
                                </ul>

                                <ul class="ul" *ngIf="menuService.getRole == 'USUARIO'">
                                    <li class="li" (click)="albumAReproducir(cancion._id)"> Reproducir Canción</li>
                                    <li class="li" (click)="verMasDelCancion(cancion._id)"> Ver Más</li>
                                </ul>

                            </i>
                            
                        </div>

                    </div>

                    <div class="buttons-controls">

                        <div class="previous" *ngIf="controlPaginacion.anteriorPagina">
                            <button class="btn" (click)="consultarCancionPorAlbumPaginado(controlPaginacion.anteriorPagina)">
                                ANTERIOR
                            </button>
                        </div>
        
        
                        <div class="next" *ngIf="controlPaginacion.siguientePagina">
                            <button class="btn" (click)="consultarCancionPorAlbumPaginado(controlPaginacion.siguientePagina)">
                                SIGUIENTE
                            </button>
                        </div>
                        
                    </div>

                </div>

                <div *ngIf="arrayCanciones.leght !== 0" class="listaCancionesCuerpo">
                    <h3>No Hay Canciones</h3>
                </div>

            </div>

            
        </div>


        <div class="updateAlbum" *ngIf="banderas.mostrarFormularioUpdateDataArtista">

            <div class="cardForm">

                <p class="cardForm-x"><i class="fa fa-times-circle" (click)="mostrarFormularioActualizarData()"></i></p>

                <div class="cardForm-titulo">
                    <h1>ACTUALIZAR DATOS</h1>
                </div>

                <div class="cardForm-formulario">

                    <form class="formulario"  autocomplete="off" (ngSubmit)="guardarCambiosAlbumModificado()"
                    [formGroup]="formAlbum">

                        <div class="formulario-nombre">
                            <input type="text" class="input" placeholder=" Ingrese su nombre" formControlName="nombre">
                            <span *ngIf="esCampoValido('nombre')" class="span"> ¡ El Nombre es obligatorio !</span>
                        </div>

                        <div class="formulario-grupo">

                            <div class="formulario-grupo-artista">
                                <label>Artista : </label>
                                <select class="select" formControlName="artista">
                                    <option [value]="artista.id" [selected]="true"> {{artista.nombre}} </option>
                                    <option [selected]="false" *ngFor="let a of arrayArtistas"  [value]="a._id"> {{a.nombre}} </option>
                                </select>
                            </div>

                            <div class="formulario-grupo-fechaLanzamiento">
                                <label>Fecha Lanzamiento: </label>
                                <input type="date" class="input" formControlName="fechaLanzamiento">
                            </div>

                            <span *ngIf="esCampoValido('artista') || esCampoValido('fechaLanzamiento')" class="span"> ¡  El País y Fecha de Inicio son obligatorios !</span>

                        </div>

                        <div class="formulario-descripcion">
                            <input type="text" class="input" placeholder=" Ingrese la descripción" formControlName="descripcion">
                            <span *ngIf="esCampoValido('descripcion')" class="span"> ¡ La descripción es obligatorio !</span>
                        </div>


                        <div class="formulario-bloqueado">
                            <label>Bloqueado : </label>
                            <input class="radio-true" type="radio" id="true" value="true" [checked]="album.bloqueado === true" formControlName="bloqueado">
                            <label for="true">True</label>

                            <input class="radio-false" type="radio" id="false" value="false" [checked]="album.bloqueado === false" formControlName="bloqueado">
                            <label for="false">False</label>
                        </div>

                        <div class="formulario-button">
                            <button type="submit" class="btn"> GUARDAR </button>
                        </div>

                    </form>

                </div>

            </div>

        </div>
        
    </div>

</body>
