<body>
    
    <div class="content" >
        
        <div class="title">
            
            <h1> CREAR ADMINISTRADOR <span>TSOG</span></h1>
            
        </div>
        
        <div class="body">
            
            <div class="contentImage">
                
                <div class="img">
                        <img src="./assets/images/add-administrador.png">
                </div>
                
            </div>

            <div class="contentData">
                
                <div class="cardForm">
    
                    <div class="cardForm-titulo">
                        <h1>INGRESE LOS DATOS</h1>
                    </div>
    
                    <div class="cardForm-formulario">
    
                        <form class="formulario"  autocomplete="off" (ngSubmit)="guardarNuevoAdministrador()"
                        [formGroup]="formRegistro">
    
                            <div class="formulario-nombre">
                                <input type="text" class="input" placeholder=" Ingrese su nombre" formControlName="nombre">
                                <span *ngIf="esCampoValido('nombre')" class="span"> ¡ El Nombre es obligatorio !</span>
                            </div>
    
                            <div class="formulario-apellidos">
                                <input type="text" class="input" placeholder=" Ingrese su apellidos" formControlName="apellidos">
                                <span *ngIf="esCampoValido('apellidos')" class="span"> ¡ El apellidos es obligatorio !</span>
                            </div>
                            
                            <div class="formulario-email">
                                <input type="email" class="input" placeholder=" Ingrese su Correo" formControlName="email" >
                                <span *ngIf="esCampoValido('email')" class="span"> ¡ El Email es obligatorio !</span>
                            </div>

                            <div class="formulario-password">
                                <input type="password" class="input" placeholder=" Ingrese su Contraseña" formControlName="password">
                                <span *ngIf="esCampoValido('password')" class="span"> ¡ El Password es obligatorio !</span>
                            </div>

                            <div class="formulario-ConfirmPassword">
                                <input type="password" class="input" placeholder=" Confirme su  Contraseña" formControlName="confirmPassword">
                                <span *ngIf="esCampoValido('confirmPassword')" class="span"> ¡ Su  contraseña no coincide !</span>
                            </div>
    
                            <div class="formulario-button">
                                <button type="submit" class="btn"> GUARDAR </button>
                            </div>
    
                        </form>
    
                    </div>
    
                </div>
    
            </div>

        </div>

    </div>



</body>



<!-- Datos que se tiene que mandar para crear un nuevo administrador: 

    nombre:
    apellidos:
    email:
    password:
    confirmPassword

-->



