<body>

    <div class="content">

        <div class="content-img">


            <img src="./assets/images/img-buzon.png" alt="">


        </div>

        <div class="content-text">


            <div class="text__header">
                <h1>¡ escribe tu sugerencia !</h1>
            </div>



            <div class="text__body">

                <textarea value="" cols="20" rows="10" #laSugerencia>
                </textarea>

            </div>


            <div class="text__button">

                <button class="btn" (click)="enviar()"> ENVIAR </button>

            </div>


        </div>



    </div>
    


</body>
