.content{
    width: 100%;
    height: 100vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* START IMG */

.content-img{
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-img img{
    width: 80%;
    height: 80%;
    object-fit: contain;
}


/* END IMG */



/* START text */


.content-text{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text__header{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text__header h1{
    margin-left: 10px;
    text-align: center;
    text-transform: uppercase;
    color: var(--purple2);
    font-size: 50px;
    font-weight: 900;
}

.text__body{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text__body textarea{
    width: 80%;
    border: 3px solid var(--purple1);
    border-radius: 20px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    padding: 20px;
}

.text__body textarea:focus{
    border: 3px solid var(--gold2);
    outline: none;
    color: #F6CD8F;
    background: var(--purple1);
}

/* AQUI NOS QUEDAMOS EN EL TEXT AREA */


/* END text */


/* START button */
.text__button{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    background: none;
    border-radius: 25px;
    cursor: pointer;
}

.text__button button{
    background: var(--purple2);
    color: var(--gold2);
    border: 1px solid var(--black1); 
    margin: 20px;
    padding: 20px 50px;
    font-size: 17px;
    font-weight: 400;
    box-shadow:-10px 14px 21px -7px #1e1e1e;
    -moz-box-shadow:-10px 14px 21px -7px #1e1e1e;
    -webkit-box-shadow:-10px 14px 21px -7px #1e1e1e;
    transition: all 0.2s;
}
.text__button button:hover{
    background: var(--gold1);
    color: var(--purple1);
    border: 2px solid rgb(96,94,94);;
    margin: 20px;
    padding: 20px 50px;
    font-size: 22px;
    font-weight: 300;
    -webkit-box-shadow: -2px 12px 21px 0px rgba(50, 50, 50, 1);
    -moz-box-shadow:    -2px 12px 21px 0px rgba(50, 50, 50, 1);
    box-shadow:         -2px 12px 21px 0px rgba(50, 50, 50, 1);
}

/* END button */







@media screen and (max-width:1050px){

    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .content-img{
        width: 100%;
        height: 50%;
    }
    
    .content-text{
        width: 100%;
        height: 50%;
    }
    .text__body textarea{
        width: 80%;
        height: 95%;
    }

}


@media screen and (max-width:700px){

    .text__header h1{
        font-size: 40px;
        font-weight: 800;
    }
}

@media screen and (max-width:400px){

    .text__header h1{
        font-size: 35px;
        font-weight: 700;
    }

}

@media screen and (max-width:300px){

    .text__header h1{
        font-size: 30px;
        font-weight: 700;
    }

    .text__button button{
        margin: 20px 1px;
        padding: 10px 30px;
    }
    .text__button button:hover{
        margin: 20px 1px;
        padding: 10px 30px;
    }

}
