<body>

    <div class="content">

        <div class="burger">

            <!-- Este apartado se puede reducir -->

            <i *ngIf="!bandera" class="fa fa-bars burger__icon" (click)="clickBandera()"></i>
            <i *ngIf="bandera" class="fa fa-times burger__icon" (click)="clickBandera()"></i>

        </div>

        <div class="sidebar"  [class.sidebar__expandir]="bandera">

            <app-sidebar class="sidebar__z"></app-sidebar>

        </div>
        
        <div class="body" [class.body__reducir]="bandera">
        
            <router-outlet></router-outlet>

            
            <div [ngClass]="{'reproductor': reproductorService.getActivo}">
                <app-reproductor></app-reproductor>
            </div>

            <div class="icon_reproductor">
                <i class="far fa-play-circle" (click)="abrirReproductor()"></i>
            </div>
        
        
        </div>
        
        

    </div>


</body>