<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="header">

        <div class="content-administrador">

            <button class="content-administrador_in btn" (click)="loginAdministrador()"> ADMINISTRADOR </button>

        </div>


        <div class="content-fondo">


            <div class="fondo-titulos">

                <h1 class="titulo"> TSONG </h1>
                <p class="subtitulo">Your music in your hands.</p>

            </div>

            <div class="fondo-botones">

                
                <button class="fondo-botones_in btn" (click)="loginUsuario()"> SIGN IN </button>


                <button class="fondo-botones_up btn" (click)="registroUsuario()"> SIGN UP </button>
                
            </div>



        </div>


    </div>

</body>
</html>